*{
    padding: 0;
    margin: 0 auto;
}
body{
    background-color: #E6E6E6;
}
header{
    width: 100%;
}
.logo{
    float: left;
    width: 10%;
    text-align: left;
    padding-top: 3px;
}
.logo img{
    width: 50px;
    padding-left: 30px;
}
header .danhmuc{
    float: right;
    width: 90%;
}
.trangchu{
    float: left;
    width: 62%;
    margin: 15px;
    font-size: 13pt;
}
.trangchu img{
    width: 30px;
    float: left;
}
.trangchu p{
    display: inline;
    padding: 0  20px;
}
.trangchu a{
    text-decoration: none;
    color: black;
}
.search{
    padding-top: 15px;
}
hr{
    width: 100%;
}
.banner{
    background-image: url(../img/dm1.png);
    background-size: 100%;
    height: 440px;
    margin: 15px 0 30px 0;
}
article h3{
    text-align: center;
    color: #22156b;
    font-size: 30px;
    text-transform: uppercase;
    padding: 15px 0;
    font-weight: bold;
    border-radius: 10px;
}
.new_list{
    width: 80%;
}
article .sp{
    background-color: whitesmoke;
    width: 30%;
    float: left;
    padding: 1%;
    border : 1px solid #ccc;
    margin-right: 1%;
    position: relative;
    box-shadow: 0 0 1px grey;
    border-radius: 10px;
    height: 400px;
}
.sp img{
    width: 100%;
    height: 80%;
    text-align: center;
    transition-duration: 0.4s;
    -webkit-trasition-duration: 0.4s; 
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
}
.sp img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    cursor: pointer;
    filter: opacity(50%);
}
article .sp h2{
    text-align: center;
}
article .sp a{
    text-decoration: none;
}
article .sp a:hover{
    text-decoration: rgb(245, 70, 70) ;
    box-shadow:  0px 10px 5px #5C6E91;
    transition: all 1s;
}
.gia{
    text-align: center;
    color: rgb(2, 2, 2);
}
footer{
    background-color: #5C6E91;
    margin-top: 30px;
    height: 220px;
    font-size: 18px;
    color: white;
}
.phan1{
    float: left;
    width: 50%;
    text-align: center;
    padding: 10px 0;
    padding-top: 30px;
}
.thongtin a{
    text-decoration: none;
    color: white;
}
a{
    color: black;
}
a:hover{
    text-decoration: underline;
    color: #F05454;
}
.phan2{
    text-align: left;
    width: 50%;
    padding: 10px 0;
    padding-top: 30px;
}
.phan2 img{
    width: 5%;
    padding: 5px 10px;
}

.main{
    width: 80%;
    margin-top: 30px;
}
.main .left{
    width: 49%;
    float: left;
    border-right: 2px solid black;
}
.main .right{
    float: left;
    width: 49%;
    margin-left: 20px;
}
.main h3{
    text-align: center;
    color: #22156b;
    font-size: 30px;
    text-transform: uppercase;
    padding: 15px 0;
    font-weight: bold;
    border-radius: 10px;
}
.main .sp{
    background-color: whitesmoke;
    width: 45%;
    float: left;
    padding: 1%;
    border : 1px solid #ccc;
    margin-right: 1%;
    position: relative;
    box-shadow: 0 0 1px grey;
    border-radius: 10px;
    height: 400px;
}
.main .sp img{
    width: 100%;
    text-align: center;
    height: 300px;
}
.main .sp h2{
    text-align: center;
}
.main .sp a{
    text-decoration: none;
}
.main .sp a:hover{
    text-decoration: rgb(245, 70, 70) ;
    box-shadow:  0px 10px 5px #5C6E91;
    transition: all 1s;
}

